.lobby-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
}

.user-view {
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 50px; 
  width: 100%;
}

.video-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 50px; 
  width: 100%;
}

.user-card {
  width: calc(40% - 20px);
  height: 50vh;
  max-height: 50vh;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 30px;
  border-radius: 2%;
  position: relative;
  background-color: #2c2d2e;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.45);
}

.user-card p {
  position: absolute;
  bottom: 0;
  left: 10px;
  margin: 0;
  padding: 20px;
  font-size: 18px;
  color: #ffffff;
}

.user-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.random-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(100, 108, 255, 0.35);
}

.control-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1a1d21;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px 0px rgba(100, 108, 255, 0.65);
}

.control-btn {
  background-color: #2c2f33;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 17px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-right: 1.8%;
}

.control-btn:hover {
  background-color: #3f4144;
  box-shadow: 0px 0px 25px 0px rgba(222, 216, 216, 0.8);
}

.control-btn-cut:hover {
  background-color: #e02828;
}

.chat-container {
  display: flex;
  flex-direction: column;
  background-color: #2C2D2E;
  /* padding: 10px; */
  border-radius: 2%;
  margin: 10px;
  width: 30%;
  height: 80vh;
  translate: 0px -6%;
  padding-bottom: 20px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.45);
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.message {
  margin-bottom: 10px;
}

.username {
  font-weight: bold;
  margin-right: 5px;
}

.chat-input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ddd;
}

input {
  flex-grow: 1;
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  height: 100%;
}

input:focus{
  border: none;
}

.send-button {
  padding: 8px 15px;
  background-color: #2e39fcaa;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.message-section-info {
  font-size: 16px; /* Adjust the font size as needed */
  font-weight: 1;
  margin-bottom: 10px; /* Add margin for spacing */
  padding-left: 10px;
}

.message-section-info::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin-top: 5px;
}

.user-view {
  position: relative;
}

.message-container {
  display: flex;
  width: fit-content;
  position: relative;
  align-items: center;
  justify-content: space-around;
  top: -60px;
  padding: 10px;
}

.message-text {
  color: #ddd;
  border-radius: 5px;
  border: 1px solid #2e39fcaa;
  padding: 10px;
  margin-right: 20px;
}

.copy-icon {
  border-radius: 5px;
  cursor: pointer;
  color: #ddd;
  border: 1px solid #2e39fcaa;
  padding: 10px;
  transition: 0.1s;
}

.copy-icon:hover {
  scale: 1.05;
  color: #2e39fcaa;
}

.below-text {
  font-size: 14px;
  position: relative;
  top: -60px;
  float: left;
  padding-left: 20px;
}